[2017-06-19 00:02] luncht1me opened #2 "Can't build on Manjaro/Arch"
Running ./zcutil/build.sh -j$(nproc) fails on Manjaro 64bit

[code]

The zCash solution is to run build.sh w/ `--disable-proton`, but even though this is present in the configuration file, the script doesn't accept it, "invalid argument --disable-proton"
 **edit: I see that disable-proton is default on the build file.**

I'm currently attempting to change `PREFIX="/usr/"` to see if that works
upda

[2017-06-19 01:31] luncht1me commented on #2
Further investigation leads me to think that there's a problem w/ autobuild and archlinux which uses currently boost 1.64

Attempting to build 1.55 from source, then pointing --with-boost=/opt/boost_1_55_0 and seeing if it builds.

[2017-06-20 18:21] ianblenke opened #3 "v1.0.9-mac branch"
I generated a diff between the `radis42/zcash` `v1.0.8-1-mac-gcc` branch and the zcash `v1.0.8` branch to pick up the mac specific differences for a build.

I've generated a v1.0.9-mac branch from the hush v1.0.9-lin branch in my hush fork here:

https://github.com/ianblenke/hush

The only real difference in my patched branch is that I don't have any of the client name changes from MagicBean to Ap

[2017-06-28 01:24] madbuda commented on #2
The boost error is due to it not compiling. Work around is to install gcc and g++ 5
pacman -S gcc5 g++5
then go to /usr/bin and move gcc to gcc-7 and g++ to g++-7
symlink gcc and g++ 5 "ln -s gcc-5 gcc" & "ln -s g++-5 g++"

get a fresh clone and build away

[2017-07-06 05:13] #2 closed

[2017-08-05 20:10] madbuda opened #5 "Limit upload bandwidth"
https://bitcoin.org/en/full-node#maximum-upload-targets
- [x] Modify hushd src to enable feature
- [ ] Update docs
- [ ] profit

[2017-08-07 05:05] leto opened #6 "New official Hush testnet #bounty"
### Describe the issue

We do not have a testnet for core devs to develop new features on and use as a testing ground.

### Bounty

This is worth 500 Hush

### Can you reliably reproduce the issue?

Yes.

#### If so, please list the steps to reproduce below:
1. Observe
2. No
3. Testnet

### Expected behaviour

A testnet should exist.

### Actual behaviour + errors

To close this issue, we must hav

[2017-08-07 19:17] leto opened #7 "Make myhush.github.io awesome"
### Describe the issue

It's just a temporary README right now

### Can you reliably reproduce the issue?
Yup

#### If so, please list the steps to reproduce below:
1. It
2. Looks
3. Bad

### Expected behaviour

Super snazzy developer-oriented website to be an "easy onramp" for Hush devs/miners/pool ops/etc..

### Actual behaviour + errors

Ain't nothin' there

[2017-08-07 19:25] leto opened #8 "Hush Messenger Protocol Spec"
### Describe the issue

We need an HMP spec on Github

### Can you reliably reproduce the issue?
Yes

## Bounty

TBD

#### If so, please list the steps to reproduce below:
1. No
2. Spec
3. Exists (outside of @radix42's head)

### Expected behaviour

A publicly viewable spec which we can point people at and take Github Pull Requests on.

[2017-08-07 19:28] leto opened #9 "Hush Messenger Reference Implementation"
### Describe the issue

The Hush Messenger Protocol needs a reference implementation, hopefully written in a language that does not hate humans.

### Bounty

### Can you reliably reproduce the issue?
Yes

#### If so, please list the steps to reproduce below:
1. No
2. Implementation
3. Exists

### Expected behaviour

Hush messages shall fly freely, like birds in the wind.

### Actual behaviour + er

[2017-08-07 19:33] leto commented on #3
@radix42 is this needed anymore, or is it bitrotten?

[2017-08-07 19:33] leto commented on #5
:+1:, I want to support small miners on our network, as much as we can

[2017-08-07 19:37] leto opened #10 "Document how to run a testnet node"
### Describe the issue

We need docs on how to run a testnet node, or else nobody will know how.

### Can you reliably reproduce the issue?
Yes
#### If so, please list the steps to reproduce below:
1. No
2. Docs
3. TO RTFM

### Expected behaviour

To be able to RTFM

### Actual behaviour + errors

No RTFMing possible

### The version of Hush you were using:
ALL

[2017-08-07 19:40] madbuda commented on #5
Have a dev build running now with the changes. I'm going to leave it running for a few days to make sure it really limits the traffic.

[2017-08-07 19:46] leto commented on #5
@madbuda cool. So `-maxuploadtarget=200` would roughly limit a node to 200 MB per day or 200 blocks per day?

[2017-08-07 20:16] leto opened #11 "Hush Miner in JS #bounty"
### The cheklist
- [x] working js miner
- [x] hosting for miner
- [ ] build widget code

### Describe the issue

We need a miner in JS, prior art:

https://forum.z.cash/t/zcash-javascript-miner/17496/21

### Bounty

100 Hush

### Can you reliably reproduce the issue?
Yes

#### If so, please list the steps to reproduce below:
1. We
2. Have
3. None

### Expected behaviour
Mining Hush in the browser!

[2017-08-07 20:46] radix42 commented on #11
radix42 [1:32 PM]
make like an embeddable widget you can have on your website "click here to support this site by mining HUSH in your browser"
ner just fills in some deets and the button fires it off with there stuff filled in.

[2017-08-07 23:09] createthis commented on #11
My analysis of this:
http://zcashtorservers.zapto.org/
https://github.com/mtve/yazecminer

It uses something called WebAssembly: http://webassembly.org/getting-started/developers-guide/
to transpile C code to Javascript. So... it's not really a JS miner... it's more of a C miner running on a JS virtual machine. I'm pretty "meh" about that from a code readability/maintainability perspective.

WebAs

[2017-08-07 23:12] createthis commented on #11
That said, if we wanted to stand this up as-is, the only thing we'd need to change is the pool address, I think: https://github.com/mtve/yazecminer/blob/master/js-backend/server.pl#L39

[2017-08-07 23:15] leto commented on #11
I am :+1: to standup up a PoC, we need some real apps to show people, and work on a proper solution without being in a rush

[2017-08-08 00:06] createthis commented on #11
Rebranded as Hush JS Miner: https://github.com/createthis/yazecminer

[2017-08-08 05:27] leto commented on #11
Very good progress on the backend server side. I am stuck here, and need help from @madbuda:
[code]
2017-08-07 22:26:20 debug main: main::stratum_got_job job 10863 04000000 abbaa5a2a10936a9b8542f82707f7cde2266fa1d98fa9733d85d9dce09000000 3cafb89e28d53e3dc5ef45b2ba71455e6ad6d0238d5a4db547576c91e077bf71 0000000000000000000000000000000000000000000000000000000000000000 704b8959 af070c1d 1 0
2017-08-07

[2017-08-08 12:30] madbuda commented on #11
@leto This looks to be the json response the miner gets back from the server, I can up the logging on the stratum side and watch while you connect to see what the issues may be. What t_address did you use? I can search logs and see if I have anything

[2017-08-08 12:51] madbuda commented on #5
This will limit historic blocks served up by hushd

[2017-08-08 14:11] createthis commented on #11
@madbuda and I got this working. Apparently the perl script uses "the original python stratum before it was ported to node". I don't know much about that, but we got it running by pointing it at us.hushmine.pro:9009 rather than us.madmining.club:3333

[code]

The perl script runs on port 8888 by default, so I changed this in the client to get it talking:
[code]

[2017-08-08 14:33] madbuda commented on #11
hushmine.pro doesn't use the node stratum that many pools use, also they have a static diff.
I am guessing that the extra job_param is the previous diff

[2017-08-08 16:33] leto opened #12 "Private vs Anonymous on myhush.org"
### Describe the issue

We need to very clearly explain privacy and anonymity on our homepage and how they relate to Hush.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Privacy
2. Does Not Equal
3. Anonymity

But our homepage confuses them.

### Expected behaviour

Privacy is not the same as anonymity, and we need to explain that to our potenti

[2017-08-08 16:33] leto commented on #12
![my hush 2017-08-08 09-18-48](https://user-images.githubusercontent.com/30298/29083177-a4fd01f8-7c1c-11e7-8b83-679a38ce7c7e.png)

This image is wrong wrong wrong, it confuses privacy and anonymity.

[2017-08-08 16:36] leto commented on #12
I also don't like that it is a creepy dude in a trenchcoat. Normal average good people need privacy and anonymity too

[2017-08-08 18:40] madbuda commented on #11
http://miner.myhush.org

https://github.com/MyHush/hushwebminer

[2017-08-08 18:56] leto commented on #11
:+1: to giving @createthis and @madbuda the bounty, they have agreed to split it

[2017-08-08 20:37] madbuda commented on #11
Skeleton widget (need to make it work and style it)
https://github.com/MyHush/myhush.github.io/blob/master/js/miner_widget.js

Also need to remove everything from the miner page that isn't relevant so this can be a clean widget

@leto @radix42 perhaps we have 2 web miners, 1 for the widget and 1 for the miner.myhush.org ??

[2017-08-09 19:38] aayanl commented on #12
in some countries like China, the word `anonymous` carries a negative connotation due to censorship and `private` is preferred

[2017-08-10 04:51] leto commented on #12
@aayanl that is a good point that we will take into account. thanks!

[2017-08-10 12:12] madbuda commented on #11
@leto this is the js I was talking about for chrome
https://github.com/turuslan/HackTimer

[2017-08-10 14:28] leto opened #13 "Linux wallet encryption problem"
### Describe the issue
Wallet encryption on Linux is not working
[code]

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.  Cannot
2. Use an encrypted Wallet
3. On Linux

### Expected behaviour

Wallets should be able to be encrypted.

### Actual behaviour + errors
Error above.

### The version of Hush you were using:

`“version”: 1000950,`

### Mac

[2017-08-10 14:38] leto commented on #13
This is related to and blocked on https://github.com/zcash/zcash/pull/1983

[2017-08-10 21:35] leto opened #14 "Large Hush transactions fail"
### Description

Getting an error when trying to send HUSH from my wallet to another address

`Error 16: bad-txns-oversize`

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Send 300 Hush
2. In One
3. Transaction

### Expected behaviour
Should send 300 Hush.

### Actual behaviour + errors

Fails to send 300, gives error.

### The version of Hush yo

[2017-08-10 21:36] leto commented on #14
This is a bug in our upstream zcash: https://github.com/zcash/zcash/issues/1961

[2017-08-10 21:37] leto commented on #14
Workaround from the command line: `hush-cli $TADDR "[{\"address\": \"$FRIEND_TADDR\", \"amount\": 4.0}]" `

[2017-08-10 22:09] leto commented on #14
Evidently 100Hush will trigger this, but 50 Hush works.

[2017-08-10 22:27] radix42 commented on #14
No, its not that zcash bug, that is about private transactions between zaddresses.....anytime  you see "JoinSplit" a zaddr is involved on one or both ends of things.

It is likely that there are too many utxo inputs, not the amount of HUSH sent.

[2017-08-10 23:36] madbuda commented on #5
https://github.com/MyHush/hush/pull/15

This will work for linux nodes until we can add in the option to limit historic blocks

[2017-08-11 16:30] leto opened #16 "Error building hush on ARM chromebook"
### Describe the issue
When trying to compile the latest hush.git from source:

`g++: error: unrecognized command line option "-m64"`

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. ./zcutil/build
2. Error happens when building boost
3.

### Expected behaviour
hush should build correctly

### Actual behaviour + errors

When boost is being compile

[2017-08-11 16:31] leto commented on #16
gcc version `4.8.4-2ubuntu~14.04.03`

[2017-08-11 16:48] leto commented on #16
Since we cannot support something our upstream libraries do not support, I am closing this.

[2017-08-11 16:48] #16 closed

[2017-08-12 10:15] Scottrock commented on #6
Change the currency units from TAZ to an appropriate unit for Hush testnet (please not Tush)

[2017-08-12 14:48] madbuda commented on #10
- [ ] Create TESTNET.md
- [ ] Update README.md with link to TESTNET.md

[2017-08-13 05:23] leto commented on #6
This is related: https://github.com/MyHush/hush/pull/17

[2017-08-13 05:24] leto commented on #11
@madbuda i am using that now and I think it does help on the first tab, thanks

[2017-08-13 05:25] leto commented on #11
FYI 2/3 bounties have been paid out and I will close this when it's done

[2017-08-13 07:25] leto opened #18 "miner.myhush.org upgrades"
### Describe the issue

miner.myhush.org does not support SSL. To fully support SSL, we must support Secure WebSockets (WSS), which requires opening up new server ports, and new nginx configs and updating HTML/JS with relevant URL and code changes.

Additionally, the Perl code that is the dynamic part of the codebase needs to be made into a CPAN module, to be testable and trivially distributable v

[2017-08-13 07:49] aayanl commented on #14
This is also a consensus level change and really really shouldn't be touched. Allowing really really large transactions acts as a DoS and fills up blocks fast

[2017-08-13 08:01] sennevb commented on #18
Would not be bad to enable TLS between nodes also..

[2017-08-13 08:04] leto commented on #14
@radix42 can we agree that a more user-friendly error here would be worthwhile?

[2017-08-13 15:00] createthis commented on #11
Bounty was 100 and madbuda and I have been paid I think.

[2017-08-13 15:01] madbuda commented on #11
yes I was paid

[2017-08-13 15:35] madbuda commented on #18
we could use wss:// instead of ws:// for tls, but need to add that into the backend perl

[2017-08-13 15:45] madbuda commented on #14
`Error 16: bad-txns-oversize
`
Seems legit, maybe a wiki entry or something giving some details when someone googles `hush Error 16: bad-txns-oversize`

[2017-08-13 15:57] leto commented on #18
@madbuda yes, if we use https:// we must also use secure WebSockets  (wss://) or mixed content errors will happen

[2017-08-13 15:59] leto commented on #18
@sennevb just to be clear, we are talking about a webmining web browser here, which connects to a website to get Stratum jobs. The web browser is not running a hush node, so this is not a p2p thing, this is a client-server thing

[2017-08-13 17:52] leto commented on #14
Meh, now this Github issue is searchable+findable and explain the core problem, I am calling this good

[2017-08-13 17:52] #14 closed

[2017-08-15 18:40] leto commented on #11
:+1:, @radix42 paid me, closing

[2017-08-15 18:40] #11 closed

[2017-08-17 05:50] aayanl opened #20 "Releases needs prebuilt binaires"
### Describe the issue
No one likes building stuff that takes 10 minutes - 1 hour constantly. Including .debs and .zips of prebuilt binaries is always useful

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. go to  https://github.com/MyHush/hush
2. be disappointed you have to build
3. wait 10 minutes

### Expected behaviour
1. go to https://github.

[2017-08-17 06:05] leto commented on #20
:+1: , once we have a release, let's make it as easy as possible for people to get it

[2017-08-18 22:46] madbuda commented on #18
@leto should we move this to the webminer repo? FYI we also have https://github.com/orgs/MyHush/projects/2

[2017-08-18 22:52] madbuda commented on #13
@leto can we close this since it is tracked upstream?

[2017-08-19 01:06] leto commented on #13
@madbuda :+1:

[2017-08-19 01:06] #13 closed

[2017-08-19 01:08] leto commented on #18
@madbuda not sure, because right now hush.git is the place where all bounties are listed . The project board is cool! :+1:

[2017-08-20 16:49] zawy12 opened #24 "new difficulty algorithm"
The current difficulty algorithm appears to have an averaging window of N=50 which is pretty long and 3x more than Zcash.  This allows big miners to come on and off, "stealing" blocks before the diff algo is able to rise, leaving small miners with a higher-than-necessary difficulty. There appears to be 5 to 10 "attacks" like this per day of miners with ~2x the network hashrate, getting 10 to 20 bl

[2017-08-20 18:03] leto opened #25 "Default hush nodes"
### Describe the issue
No list of default nodes

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. No
2. Default
3. Nodes

### Expected behaviour

This:

[code]

### Actual behaviour + errors

Nothing

### The version of Hush you were using:
All

[2017-08-20 19:25] madbuda commented on #25
There are 3 nodes set by default in hushd I don't see this being an issue

[2017-08-20 19:30] madbuda commented on #24
https://github.com/MyHush/hush/blob/master/src/chainparams.cpp#L47

Current average is 17 blocks which is the same as Zcash, I think we experience more swings since we have a smaller network hashrate.

[2017-08-21 01:56] matthewjamesr commented on #25
I think it is important to take this info and create a seeder living at `nodes.myhush.org` for example.

[2017-08-21 03:02] madbuda commented on #25
I'm moving some servers around, but will get a dnsseed instance online.

[2017-08-21 05:59] leto opened #26 "hush-cli restart"
### Describe the issue

No easy way to restart hushd

[code]

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Try to restart
2. Get an amazingly not useful error message
3. See above

### Expected behaviour

The `hushd` daemon should restart.

### Actual behaviour + errors

Silly error message that is confusing to new users.

### The version of Hu

[2017-08-21 10:17] zawy12 commented on #24
I just checked Zcash and they also seem to be using what is effectively an N=50 algorithm. Zcash and HUSH difficulties look pretty darn smooth which shows they are not responding very quickly to hashrate changes.  Either there is a mistake in their code that has been carried over to HUSH, or they are doing something strange with medians that's causing their algorithm to respond very slowly. As a r

[2017-08-21 14:30] zawy12 commented on #24
The closest I can simulate Zcash's algo is N=63 averaging window (I minimized the sum of the least squares of the difference between mine and theirs).  The 16% rise and 32% fall limits do not seem to ever be reached.  If they were, there would be smooth line during periods of sudden rise and fall in hashrate.
![zcash_63](https://user-images.githubusercontent.com/18004719/29521839-1db7dea0-8655-11e

[2017-08-21 14:44] JamesKegel commented on #24
@zawy12 How are these charts being generated? They're great, and I'd like to use them to test different N values with a project. Could you shed any light on how you're generating them?

[2017-08-21 14:55] zawy12 commented on #24
Hush is showing more rythmic peaks than Zcash. This indicates some miner is out there waiting for the high difficulty of his last attack to wear off, and beginning immediately again.  During his off time he's probably switching over to Zcash or another small coin that uses Zcash's POW and difficulty algo.  This alone is a reason to not use what Zcash uses.

This is chart was done same as the last

[2017-08-21 19:48] zawy12 commented on #24
@JamesKegel I just use librecalc spreadsheet.  I obtained the data while running Zcash and HUSH as nodes and using a perl script that outputs the solvetimes and difficulty to a txt files.  The pseudocode for the one that looks most like Zcash (that no one should ever use because it invites attacks, very possibly currently driving HUSH price down) is:
[code]
I use an excel spreadsheet for testing d

[2017-08-22 00:21] madbuda commented on #24
@zawy12 I really think the overall effect is related to overall hashrate / difficulty.  High hashrate = higher diff = less susceptible (well less noticeable)

I have seen some conversation lately where solo miners are moving from coin to coin as difficulty drops with massive hashing power. Sadly, I have even heard a fellow pool owner doing the same thing using nicehash

[2017-08-22 00:34] madbuda commented on #26
@leto this isn't possible... hush-cli is a jsonRPC client and hushd is a server

We can;t tell hushd to launch it's self, and we can;t tell it to start if it isn't listening

[2017-08-22 00:34] #26 closed

[2017-08-22 08:46] zawy12 commented on #24
@madbuda What overall effect?

[2017-08-22 15:17] zawy12 commented on #24
I found the error in the Zcash terminology.  The N=17 "averaging window" is given only 25% weight. The other 75% is the target time of the averaging window (which is a constant).  This is why it has an effective averaging window that is almost 4x longer than N=17.

Another problem is that the code says that in order to prevent "timewarp" attacks, it uses the median timestamp of the past 11 blocks

[2017-08-24 02:35] matthewjamesr commented on #20
Next-gen Hush wallet can solve this. It will be a pre-built binary that could build hush for the user on first-run. I just download the proper binary.

[2017-08-24 03:55] madbuda commented on #20
Prebuilt for nodes as well

[2017-08-25 18:37] zawy12 commented on #24
This is background information for any future HIP that may seek to change the difficulty algorithm.

I'm having trouble proving N=8 is harder to hack than Zcash's N=17  (aka "N=63").  I can simulate attacks against Zcash's algo and get 20 blocks per attack, 10 times per day. This appears to be what they are doing.  I was not able to do better.  It can throw the difficulty into an oscillation that

[2017-08-25 22:46] zawy12 commented on #24
Looking at the statistics again, I can only prove 3.5 attacks per day in the last 6 days at 2x to 3x hash power above base level, not 9 or 10 at 1x above base level.  They're probably getting about 60 blocks per day, still at my old estimate of 10%.   Due to being able to hack my own difficulty algorithm where it can be cheated as much as longer averaging periods I'm not going to push a change for

[2017-08-27 23:19] zawy12 commented on #24
The Zcash (and Digishield) code uses
` int64_t nActualTimespan = nLastBlockTime - nFirstBlockTime;`
which is used to get an average solvetime (after effectively dividing by N).  However, when there are  negative solvetimes due to some timestamps being before previous timestamps, the negative solvetimes are not accounted for by this method.  The average comes out incorrect.  My changes above will b

[2017-08-29 15:58] gadelavega opened #28 ""hush-cli help" references "zcashaddress""
When running "hush-cli help" command it references "zcashaddress" which could lead to confusion. For example, one line of the returned text shows:
sendtoaddress "zcashaddress" amount ( "comment" "comment-to" subtractfeefromamount )

To avoid confusions, it should return something like:
sendtoaddress "hushaddress" amount ( "comment" "comment-to" subtractfeefromamount )

I saw this on hushd version

[2017-08-30 01:44] matthewjamesr commented on #25
A good variety of nodes on different interfaces is now in `README.md`. Closing this issue.

[2017-08-30 01:44] #25 closed

[2017-08-30 01:48] matthewjamesr commented on #12
I am going to close this issue as it is more marketing related and can be discussed internal to the team on Slack.

[2017-08-30 01:48] #12 closed

[2017-08-30 01:48] matthewjamesr commented on #7
Closing this issue as our blog will be hosted elsewhere.

[2017-08-30 01:48] #7 closed

[2017-08-30 19:57] leto commented on #28
@radix42 https://github.com/MyHush/hush/pull/30

[2017-09-02 01:02] zawy12 commented on #24
Here's an algorithm to directly penalize "hash attackers" and reward constant-on miners.  I'm putting it on the  Karbowanek coin page because they will probably test it if not implement it.  In my testing it did not need any modification (the average solvetime came out correct).

https://github.com/seredat/karbowanec/commit/231db5270acb2e673a641a1800be910ce345668a#commitcomment-24037066

[2017-09-02 02:01] radix42 commented on #24
awesome, please report back any results Karbowanek get!

On Fri, Sep 1, 2017 at 6:02 PM, zawy12 <notifications@github.com> wrote:

[2017-09-02 04:04] leto commented on #24
In general, a big :+1: to our network rewarding "stable" miners and making jumping on and off the network less attractive, via however we can do that.

[2017-09-02 19:36] madbuda commented on #20
https://github.com/MyHush/hush/pull/31

[2017-09-02 19:36] #20 closed

[2017-09-02 22:08] matthewjamesr commented on #28
This fix was merged in 5d3aad5. Thank you.

[2017-09-02 22:08] #28 closed

[2017-09-02 22:09] matthewjamesr commented on #5
@madbuda Can we merge/close this?

[2017-09-02 22:36] madbuda commented on #5
closing #15 solves the issue

[2017-09-02 22:39] matthewjamesr commented on #5
Ok thank you @madbuda, closing this issue.

[2017-09-02 22:40] matthewjamesr commented on #5
Ok thank you @madbuda, closing this issue.

[2017-09-02 22:40] #5 closed

[2017-09-09 19:21] leto opened #33 "doc/authors.md is kind of confusing"
### Describe the issue

This file lists Zcash contributors and commit counts. We need to decide if we want to start fresh with a list of Hush contributors or keep this list and add to it in some way.

### Can you reliably reproduce the issue?

Yes, erryday

#### If so, please list the steps to reproduce below:
1. Look
2. at
3. doc/authors.md

### Expected behaviour

A nice list of Hush contributor

[2017-09-09 19:21] leto commented on #33
@radix42 would like your opinion on whether we should start this doc fresh or what.....?

[2017-09-09 20:37] radix42 commented on #33
I want to get the script that zcashco uses to generate that file from github commit history and use THAT to generate a current one for future releases

[2017-09-09 20:37] radix42 commented on #33
then the commit counts will also be consistent if we are using the same script to generate them. i have been meaning to ping them and see where it is if it is in a public repo (i THINK it is? iirc)

[2017-09-09 22:17] leto commented on #33
@radix42 the script is `zcutil/release-notes.py` and it requires following the same pattern as Zcash, since it is powered by data in `doc/release-notes/*`, which seem to be the output of `git shortlog` since the last release. Alternately, I can write our own git script to generate this data the way we want.

[2017-09-16 00:17] radix42 opened #34 "Adjust auto-senescence parameters"
Since merging 1.0.9 updates from upstream, nodes have an auto-senescence feature that causes versions more than roughly 18 weeks old to not run without a flag to override this.

We need to adjust parameters to match HUSH block heights, and possibly make for a longer deprecation period or consider not enabling by default.

Original upstream issue is https://github.com/zcash/zcash/issues/2274 and wa

[2017-09-21 17:07] leto opened #36 "Continuous Integration"
### Describe the issue
Hush does not have CI.

### Can you reliably reproduce the issue?
Yup
#### If so, please list the steps to reproduce below:
1. Observe
2. No CI
3. Exists

### Expected behaviour
Continuously integrated goodness

### Actual behaviour + errors
No way to tell if a commit breaks the build!!!

### The version of Hush you were using:
All

[2017-09-21 17:30] radix42 commented on #36
500 HUSH bounty to get CI building master and dev branches on Debian 8. 200 HUSH additional for cross compiled Windows branch. Mac will be a PITA because of the need for a macOS worker.

[2017-09-21 17:32] radix42 commented on #6
I am so very sorry but I am making a condition of collecting this bounty that the testnet units be TUSH
oh and let's give it the nice fresh name testnet4, as all the testnet3 attempts and stuff people have lying around crippled on HD's are useless right now anyway.

[2017-09-21 19:35] aayanl commented on #36
I have one running for zen that would be extremely easy to port over https://github.com/ZencashOfficial/zen/pull/64

[2017-09-21 19:36] aayanl commented on #36
https://github.com/zencashofficial/botio

[2017-09-21 19:45] aayanl commented on #36
Wine likes to freeze when running *-gtest.exe so that may be a problem

[2017-09-21 19:46] aayanl commented on #36
Plus does it have to be Debian? I can never get cross-compiling done on Stretch/Jessie. Only on Xenial

[2017-09-21 20:35] radix42 commented on #36
The mingw64 threading library on Ubuntu is busted.....things build, but
some software, such as zcash and hush and other forks, just spin a  CPU at
100% in Windows when you run them. I need to get better pre-requisites and
instructions up, but all my Windows cross compiles and dev are done on
Jessie. So its not Jessie that's is busted, but prolly a missing dep.

On Thu, Sep 21, 2017 at 12:46 PM, Pr

[2017-09-21 21:23] madbuda commented on #36
Is this bounty for a hosted solution? or just providing the means to the CI?

[2017-09-21 21:33] leto commented on #36
Either me or @radix42 can host this on AWS. We need the code and devops config that works to David's spec

[2017-09-21 22:28] aayanl commented on #36
I'm not sure how you guys do windows but its pretty easy to setup with botio since it just runs shell commands https://github.com/aayanl/botio-hush

[2017-09-21 23:15] radix42 commented on #36
it is cross compiled with zcutil/build-win.sh
I see I have under-specified things, my bad, I'll whip up some better
acceptance criteria

[2017-10-03 19:42] leto opened #38 "Fix https://explorer.myhush.org"
### Describe the issue
Currently we are using a self-signed cert which has scary warnings.

### Can you reliably reproduce the issue?
Yes
#### If so, please list the steps to reproduce below:
1. Self
2. Signed
3. Cert

### Expected behaviour
Proper cert

### Actual behaviour + errors
Scary warnings to average people :cry:

### The version of Hush you were using:
All

[2017-10-06 02:04] madbuda commented on #38
done

[2017-10-06 02:04] #38 closed

[2017-10-06 04:56] leto commented on #36
@radix42 I think @madbuda deserves to get 500HUSH for getting this far:

https://build.madbuda.me/

There are Linux and Windows builds on every commit, and know we need your dark, dark magic to build the Mac version.

[2017-10-06 04:57] madbuda commented on #36
@radix42 @leto https://build.madbuda.me/
windows and linux builds, will add pipelines to build pr's

[2017-10-06 05:09] leto commented on #36
@madbuda if it's complex, i am pretty sure @radix42 will add more bounty if you can have jenkins comment on PR's directly on Github, about the build/fail status. i see that in a lot of big open source projects and it is hella useful

[2017-10-06 05:10] madbuda commented on #36
no, I just haven't done it yet.

The mac build will be more complex since I need to build an osx VM, setup xcode, and sign the .app

[2017-10-06 13:14] madbuda commented on #36
CI test

[2017-10-06 13:22] jenkins-hush commented on #36
CI test2

[2017-10-06 14:17] madbuda commented on #36
@leto @radix42 Jenkins sets build status on the PR plus will add build status to an issues that is tied tot he PR
added nightly build for dev branch that keeps the last 5 build artifacts

Didn't want to trigger a build on every commit yet, but seeing that most changes would be a PR this should cover most of it. We can always manually trigger a build if we make changes in dev directly

[2017-10-06 16:11] leto commented on #36
@madbuda works for me. This is awesome!!!! :very_happy:

[2017-10-08 04:04] madbuda opened #46 "1.0.12 Issues"
List of known issues / TODOs for 1.0.12

- [ ] Arch build
- [ ] hush-tx (need address indexing for qa)
- [ ] branding (this needs to be expanded)
- [x] Windows build https://github.com/madbuda/hush/releases/tag/v1.0.12
- [ ] Mac build
- [x] update apt repo https://github.com/MyHush/hush/issues/57
- [ ] run help2man on hush-cli, hushd, hush-tx to generate new man page files
- [x] https://github.com

[2017-10-08 08:21] leto commented on #46
@madbuda can you explain a bit more about what is needed with `hush-tx` ?

[2017-10-08 13:33] madbuda commented on #46
basically we need to add address indexing into hushd see the old zdash bitcore repo https://github.com/MW-hush/zdash/tree/v1.0.4-bitcore

This is required for the bitcore libs and explorer to work with the new 1.0.12

[2017-10-09 06:29] leto commented on #36
@madbuda @radix42 calling this done, let's make new bounties for further CI improvements

[2017-10-09 06:32] #36 closed

[2017-10-09 06:36] leto commented on #8
@radix42 can you update this issue with a bounty amount? Or do we want the implementation AND spec to be under one bounty? https://github.com/MyHush/hush/issues/9

[2017-10-09 15:22] madbuda commented on #36
Bounties for CI improvements would require outside access to our CI, perhaps we work on this internally

[2017-10-09 16:45] leto commented on #36
Yeah, didn't think of that. This is mostly be done by hush core folks

[2017-10-09 16:46] leto commented on #3
Closing this, as the bits have rotted. Please submit a new PR if you would like, thanks!

[2017-10-09 16:46] #3 closed

[2017-10-09 17:00] madbuda commented on #34
I vote to urn this off, unless we plan on merging upstream releases on a schedule

[2017-10-11 06:17] leto commented on #46
@madbuda nobody has any idea what `hush-tx (need address indexing for qa)` means, even with your latest comment. Please teach us to fish

[2017-10-11 11:34] madbuda commented on #46
That statement doesn't inspire much confidence, I'm assuming you, not the dev team when I read that.

Address indexing is needed for bitcore, the component that is used to run our block explorers. Basically we need to add some bitcoin core features in that Zcash removes

[2017-10-12 00:25] csharpee commented on #46
So for a quick update from what I know so far is from madbuda,

https://github.com/str4d/zcash/tree/v1.0.11-rc1-bitcore
looks like zcash ony has 1.0.11 rc as their latest bitcore implimentation. I'll reach out to str4d and see if he's working on 1.0.12 or if there aren't any major changes needed for it.

[2017-10-12 04:28] csharpee commented on #46
Which files do we need re-branding for? Do we want to rename all files/folders?

[2017-10-12 13:15] neurans opened #50 "Automatic deprecation shutdown feature. How do I get rid of it? If there is no upgrade?"
This issue tracker is only for technical issues related to hushd, the Hush node daemon.

General Hush questions and/or support requests and are best directed to the [Hush Forums](https://forum.myhush.org) or [Slack Chat](https://myhush.slack.com).

For reporting security vulnerabilities or for sensitive discussions with our security team, please contact your local nasal demon via ICMP.

### Descri

[2017-10-12 13:44] madbuda commented on #50
this feature is not enabled in the current hush release (1.0.9) and the message can safely be ignored.

If you'd like to not see this msg put
`disabledeprecation=1.0.9`
in your hush.conf or in your startup command as the message states

[2017-10-12 13:44] #50 closed

[2017-10-12 13:45] radix42 commented on #50
There is a command line switch to turn the feature off...what block height
are we at now?

On Oct 12, 2017 6:44 AM, "Larry Ludlow" <notifications@github.com> wrote:

[2017-10-12 13:46] madbuda commented on #50
@radix42 185929

[2017-10-12 13:46] madbuda commented on #46
To start look at the current dev branch, from there you could start digging through the code and rename / test

[2017-10-12 13:57] madbuda commented on #6
@radix42 t1c11VazKq24xJoM55Cp4rpxeM4p6xxmcuR is @mrhcbojangles for https://github.com/MyHush/hush/pull/37

[2017-10-12 15:54] radix42 commented on #50
so we have just over 12 days to get 1.0.12 out the door....less, because
that's when auto-senesence sets in. Damnit I forgot to take the feature
out, or do the build with it disabled for Windows, or change the block
height to be farther in the future. I am going to disable this in 1.0.12.
What's the best branch to start with? do we have a release candidate yet?
I'd rather nobody have to rebase if

[2017-10-12 16:10] radix42 commented on #6
Waiting for confirmations, but paid!
https://explorer.myhush.org/tx/a7afe4f618ab8ffa6327f6626c8e828fbfe71d360d2fc8e5779da02b426cef04

[2017-10-12 17:58] madbuda commented on #50
@radix42 https://github.com/MyHush/hush/tree/v1.0.12-rc

[2017-10-12 19:11] radix42 commented on #50
thank you......have me merged the testnet code into the RC yet?

On Thu, Oct 12, 2017 at 10:58 AM, Larry Ludlow <notifications@github.com>
wrote:

[2017-10-12 19:20] madbuda commented on #50
🤔  I don't remember, if not I'll do it tonight

[2017-10-13 21:57] #6 closed

[2017-10-13 22:23] mrhcbojangles commented on #6
Thanks!

[2017-10-14 06:04] leto commented on #10
This is nicely documented in https://github.com/MyHush/hush/blob/dev/Testnet.md now, I think we just need to add a link to it from README.md

[2017-10-15 11:39] csharpee commented on #46
Okay, new updates for branding, help2man, auto-senescence and hush-tx.  #49 #56

[2017-10-15 16:51] madbuda commented on #46
I maintain an apt repository for hush, will need to build new deb and test, then update apt repo

[2017-10-15 16:54] leto opened #57 "Build 1.0.12 deb"
Build a deb for 1.0.12 and put in the correct apt repo

[2017-10-15 16:54] madbuda commented on #57
There is already a placeholder for this, closing

[2017-10-15 16:54] #57 closed

[2017-10-15 16:55] leto commented on #46
@madbuda @csharpee I created https://github.com/MyHush/hush/issues/57 to track building the 1.0.12 deb, let's try to keep this issue well documented and closable

[2017-10-15 16:55] madbuda commented on #46
I closed it, there is a checkbox in this issue already for deb builds and apt updates

[2017-10-15 16:56] madbuda commented on #46
@leto this is already documented in our repo

[2017-10-15 16:57] leto commented on #57
@madbuda thanks for closing a nice Github issue to track a complex step, and now we can go back to a checklist item. :+1:

[2017-10-15 16:59] madbuda commented on #57
@leto https://github.com/MyHush/hush/tree/master/contrib/debian

It's all there except for how the team internally manages our apt repo, which will not be publicly documented

[2017-10-15 17:06] leto commented on #34
I think we should have the common decency for our nodes to commit Seppuku after a certain time, in order to protect our users from running some old version until the end of time, which will inevitably become vulnerable to some kind of attack/exploit/DoS/etc. Hax0rs can have a compile/run time flag to turn it off, if we want. Letting people run our current code, for let's say, 3 years, is not cool

[2017-10-15 17:59] radix42 commented on #34
I do not like the auto-shutdown feature, and argued against it upstream. If
we actually use it, I'd want to surface stuff up at the GUI layer where
appropriate. Which is a pain. Right now just setting it wildly in the
future until we have better UI support for it is imho the best option (oh
god the PR where they added it is huge or I'd have ripped it out
earlier.....but that makes later merges muc

[2017-10-15 18:00] radix42 commented on #34
so lets revisit this later after we get 1.0.12 out with the huge, hackish
block value in there for now

On Sun, Oct 15, 2017 at 10:59 AM, David Mercer <radix42@gmail.com> wrote:

[2017-10-15 23:59] leto commented on #34
:+1:

[2017-10-24 02:09] kensukekita opened #59 "sorry this is not an issue i need orientation"
sorry i need orientation on how to edit the chainparams to make my own chain and have my own coin
i was using different sources but i was success with the litecoin source but i'm searching for the equihash algo
please can anyone help me or give me some link where i can read what to do?

thanks

[2017-10-24 11:02] #59 closed

[2017-10-24 16:46] leto opened #60 "Reproducible/Deterministic Builds"
### Describe the issue

No deterministic builds

### Can you reliably reproduce the issue?
Yes

### If so, please list the steps to reproduce below:
1. Compile and observe,
2. No
3. Reproducibility

### Bounty

500HUSH

### Expected behaviour

Since Bitcoin Core and Zcash have reproducible builds, we should as well. It increases the security of our entire ecosystem.

### Actual behaviour + errors

[2017-10-25 17:39] tkh23 opened #61 "Compiling on ArchLinux"
Attempting to build on ArchLinux using slightly modified zcash PKGBUILD (attached). Downloads sources and begins compiling, after about 10-15 minutes, following error:
make[2]: *** No rule to make target 'gtest/test_wallet_zkeys.cpp', needed by 'gtest/zcash_gtest-test_wallet_zkeys.o'.  Stop.
[PKGBUILD.txt](https://github.com/MyHush/hush/files/1415582/PKGBUILD.txt)

[2017-10-25 18:19] leto commented on #61
@tkh23 please post the full output in a Github gist or something, we need more details to debug

[2017-10-25 18:19] leto commented on #61
@tkh23 following the issue template makes things easier for everybody 😸

[2017-10-25 21:49] madbuda commented on #61
If you follow instructions from install.md it builds fine on arch. Unless you have gcc7

[2017-10-25 21:55] tkh23 commented on #61
Thank you both. I will check the instructions on install.md and see if I can adjust the PKGBUILD accordingly. Then I'll report back, and if issues persist, I will use the issue template (thanks for pointing out) and include full output.

[2017-10-26 05:11] tkh23 commented on #61
I've installed gcc6 (alongside latest gcc7, ie. /usr/bin/gcc-6), but I can't figure out how to tell the system to use it. I've been googling for an hour and I'm getting sick of it. Yeah, I could temporarily uninstall or backup gcc7 and ln -s, but that's not a solution. Any help would be appreciated.
Also, why doesn't hush support gcc7 anyways?

[2017-10-26 06:39] csharpee commented on #60
@leto, @madbuda, @radix42 and @developers I have been working on some personal projects for Hush. I am not ready to share quite yet. I am excited, but it is simply not ready and takes tedious patience. In the mean time, I felt this should be shared  to help others understand more or what not.

I recommend using vagrant and gitian =) Also works nicely with zcash. Zcash also uses Ansible @leto, shou

[2017-10-26 12:47] madbuda commented on #61
https://github.com/MyHush/hush/blob/master/zcutil/build.sh#L103

I miss typed, we are still using gcc 5, I'm assuming since you are using pkgbuild it is suppressing the message from build.sh or not using it at all

[2017-10-26 16:40] leto commented on #60
To be more clear, this bounty is about porting repro builds from BTC/ZEC to Hush, there is prior art to follow: https://github.com/zcash/zcash/blob/4ee9d712b573bccd36e29134d96eaad54182ebab/contrib/gitian-descriptors/README.md

[2017-10-26 17:32] leto commented on #61
@tkh23 it is very hard to install different versions of gcc/libc "side-by-side", it might seem to work, just running binaries. But compiling and linking will not work correctly, because different parts of the build will find different versions of gcc/libc/linkers/etc. If you can create a VM with only the new version of gcc, and see if it works, that would be a good test.

[2017-10-26 18:45] tkh23 commented on #61
Hello Leto and madbuda,
First of all, thanks for your time and concern thus far. Madbuda, I initially tried with the newest version (gcc 7) and no other gcc installed, didn't work. I then tried gcc-6 seeing how you said v7 doesn't work (for anyone wondering, you need to 'export CXX=/usr/bin/gcc-5or6' first and then makepkg from what I've read [here](https://gist.github.com/slizzered/a9dc4e13cb1c7f

[2017-10-26 18:58] tkh23 commented on #61
Expected behavior is to run makepkg -si and end up with an a package that can be installed via pacman -U.
No success with gcc-5, but different error (about boost).
https://gist.github.com/tkh23/0336e090448a6ced64c4a88a07e7a212
Will run with gcc-6 and gcc-7 next and update this same comment with the logs.
Then I will try to remove all patches Arch applies to zcash from the PKGBUILD. If that fails,

[2017-10-26 19:44] tkh23 commented on #61
Compile with gcc-7 and Arch's Zcash patches removed from PKGBUILD. Results in different error, althoug boost and libs are installed:
/usr/bin/ld: cannot find -lboost_system-mt
collect2: error: ld returned 1 exit status
https://gist.github.com/tkh23/95c6763851a2e815c8567b4aec6e7a6f

[2017-10-26 21:58] madbuda commented on #61
Looking at your pkgbuild line 54 and 55 should match what we have in build.sh

https://github.com/MyHush/hush/blob/master/zcutil/build.sh#L133

[2017-10-26 23:21] tkh23 commented on #61
I tried to adjust according to your advice, but I might not have done it quite right. Really wanted to contributed by creating a PKGBUILD, but I think I don't understand the subject matter well enough to continue, so I just built according to your install.md and it does indeed work fine (with gcc 7 btw). Feel free to reach out though with more detailed instructions or requests to test - I have fiv

[2017-10-27 15:36] madbuda commented on #61
Thanks, I will look into making an arch build later, for now closing this issue

[2017-10-27 15:36] #61 closed

[2017-10-27 15:46] #10 closed

[2017-10-30 21:53] 1n17 opened #62 "Problems with installation instructions"
### Describe the issue
Running "sudo echo 'deb https://dl.bintray.com/myhush/hush/ hush main' >> /etc/apt/sources.list" errors with "permission denied: /etc/apt/sources.list". Using "echo 'deb https://dl.bintray.com/myhush/hush/ hush main' | sudo tee --append /etc/apt/sources.list.d/hush.list" works as expected.

Also "apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401A

[2017-10-31 01:49] madbuda commented on #62
It appears you do not have sudo rights on the machine you're installing on

Closing as this is not a bug or issue with code

[2017-10-31 01:49] #62 closed

[2017-10-31 06:32] 1n17 commented on #62
Hi @madbuda,
i do have sudo permissions on that machine but the command is wrong, please see https://askubuntu.com/questions/185268/permission-denied-etc-apt-sources-list. As for the apt-key command it requires root permissions but the instructions don't tell you to run it with sudo. Please update the instructions accordingly.

[2017-10-31 08:32] leto opened #63 "TLS"
### Describe the issue

Hush only supports HTTP and therefore connecting to an RPC backend is only "safe" over localhost, otherwise it would leak lots of metadata and rpc user/pass. Hush should support TLS like Bitcoin and other coins like Zen. Encrypted p2p connections will additionally greatly reduce network metadata available to snoopy people.

### Bounty

TBD

### Can you reliably reproduce th

[2017-10-31 10:58] 1n17 commented on #62
![installation](https://user-images.githubusercontent.com/33235498/32220517-57304efa-be32-11e7-9850-566c4aa1f094.png)

@madbuda, please see the image, I don't know how to explain it better.

[2017-10-31 11:05] madbuda commented on #62
What version of Ubuntu, sudo, what shell and version?

Hundreds  of installs and this is the first someone has had a problem with the installation instructions. I've personally installed using copy/paste many times myself and wrote the instructions

[2017-10-31 11:20] 1n17 commented on #62
**cat /etc/*-release**
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"
NAME="Ubuntu"
VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.3 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
VERSION_CODENAME=xeni

[2017-10-31 16:12] 1n17 commented on #62
More info:
https://stackoverflow.com/questions/40292676/pipe-command-with-sudo
https://stackoverflow.com/questions/82256/how-do-i-use-sudo-to-redirect-output-to-a-location-i-dont-have-permission-to-wr
https://unix.stackexchange.com/questions/106663/how-do-you-process-an-entire-command-as-sudo-that-involves-redirecting-or-piping

The most common suggestion is to use tee:
echo 'deb https://dl.bintra

[2017-10-31 23:33] radix42 commented on #63
if anyone is going to work this bounty, please contact me first to discuss issues with it

[2017-11-01 07:52] kentsommer commented on #60
@csharpee

Are you currently working on this (setting up reproducible builds)? If you are, I won't work on this. However, if you aren't currently working on this task, I'm willing to work on it.

[2017-11-01 08:58] csharpee commented on #60
Okay - beautiful, yeah I am not working on this at the moment.

[2017-11-03 02:04] kentsommer commented on #60
@leto

I've got builds up and running! If someone could test with the current configuration (uses my fork of hush) that would be great!

The instructions for how to setup your host can be found in the hush-gitian repo. Follow them exactly and you should be good to go! Once this is tested, I'll go ahead and PR my `hush` fork and someone else will have to pull in the two other repos.

Main repos:

1

[2017-11-03 03:34] radix42 commented on #60
Great! I'll give it a whirl soon, I may have to update some stuff on my
Ubuntu box tho (haven't done zcash deterministic builds on it for example
in months and months)

[2017-11-03 06:51] csharpee commented on #60
I have tested it on Ubuntu 16.04. It built successfully! I started to do this on Amazon EC2 instance and ran into the VT-X error. So I installed via locally on my ol' System76.

[code]

[2017-11-03 23:15] leto commented on #60
This looks really exciting, looking forward to testing it out!

[2017-11-04 01:48] kentsommer commented on #63
Is anyone currently working on this?

[2017-11-05 05:33] leto opened #64 "Testnet explorer"
### Describe the issue
We have a testnet, but no explorer! It would make it easier on devs if they could look at explorer pages for testnet xtns and stuff like that.

### Can you reliably reproduce the issue?
Yes

#### If so, please list the steps to reproduce below:
1. Observe
2. No
3. Testnet explorer

### Bounty

TBD

### Expected behaviour
Awesome testnet explorer exists

### Actual behaviour

[2017-11-05 06:29] leto commented on #60
@kentsommer I forked the 2 repos into MyHush org

I am currently testing with `ansible 2.2.1.0` and `vagrant 1.9.1` on OS X and I successfully created the Gitian VM, it's currently building  :+1:

[2017-11-05 10:17] csharpee commented on #63
@kentsommer I have spent a lot of time on this, but I am still learning. If I am in the right direction, you can check what I did so far here: https://github.com/csharpee/hush/tree/hush-tls

At the moment, the build is not successful and has header.h files needing to be added or updated --I am still not sure. I read through 124 lines of code and added only tls related things into the hush codebase

[2017-11-05 20:37] madbuda commented on #64
before we can get a testnet explorer up, we need a bitcore compatible build. I'll have this finished soon.

As far as bounty is concerned... Is this a stipend to cover ongoing expenses with running an explorer? or a single bounty for standing up a working explorer for our testnet?

[2017-11-06 00:53] kentsommer commented on #60
@radix42, @leto

I've submitted #65 with a few notes on final things that need to be changed to get this fully up and running.

[2017-11-06 02:27] leto commented on #60
I got really close:

[code]

I think this is related to the fact that I merely specified my keybase pukey ID, but it could not be found locally, perhaps because I am supposed to import it first? @kentsommer

[2017-11-06 02:30] kentsommer commented on #60
If you did not specify the key ID [here](https://github.com/MyHush/hush-gitian/blob/master/gitian.yml#L12) then you are correct, you would have to manually import your GPG key to the VM.

[2017-11-06 02:58] leto commented on #60
I ran `curl https://keybase.io/dukeleto/key.asc | gpg --import` to import the correct key onto the machine that is the host for the hush-build VM, and now things are chugging along again...

[2017-11-06 03:00] leto commented on #60
@kentsommer thanks, I was using the wrong key, `gpg_key_name` instead of `gpg_key_id`, I think that will hopefully fix it and then I will push my assert files. Thanks for the help!

[2017-11-06 03:02] radix42 commented on #60
do we have a baby steps, one thing at t time doc for setting up gitian
builds? I dunno if the system I was using for it is up right now, and it
needs updating in any case from when i did zcash gitian builds on it

On Sun, Nov 5, 2017 at 7:58 PM, Duke Leto <notifications@github.com> wrote:

[2017-11-06 03:04] kentsommer commented on #60
@radix42

If I understand you correctly, what you are looking for can be found in the readme here: https://github.com/MyHush/hush-gitian

[2017-11-06 03:05] radix42 commented on #60
awesome thank you, was wondering if that existed :-)

On Sun, Nov 5, 2017 at 8:04 PM, Kent Sommer <notifications@github.com>
wrote:

[2017-11-06 03:07] radix42 commented on #60
I will work on getting that box up tomorrow, I have not enough light to
work on it at night (yes, I know, I am like a hermit in a cave here, lol),
and I'll update all the versions of stuff on it.

On Sun, Nov 5, 2017 at 8:05 PM, David Mercer <radix42@gmail.com> wrote:

[2017-11-06 04:10] leto commented on #60
This could be something related to my host GPG being `gpg (GnuPG/MacGPG2) 2.0.14` while the hush-build VM has `gpg (GnuPG) 2.0.26`. I still get `gpg: signing failed: No secret key`. I am using `gpg_key_id: '5A4D8019'` in my gitian.yml

[2017-11-06 04:12] radix42 commented on #60
ugh you need to actually import your pgp private key i think to be able to
sign stuff, into...which layer of VM, Kent? did you get it to work i can't
recall what I did with zcash gitian it was a PITA with perms

On Sun, Nov 5, 2017 at 9:10 PM, Duke Leto <notifications@github.com> wrote:

[2017-11-06 04:21] kentsommer commented on #60
@leto @radix42

Yes I've got importing and signing to work. I doubt it is an issue with GPG version mismatch @leto. Did you rerun the `vagrant up --provision hush-build` command after adding the `gpg_key_id` field and verify that Ansible is showing the key was imported correctly?

[2017-11-06 05:08] leto commented on #60
when I run `vagrant up --provision hush-build` i finally get:

[code]

with this gitian.yml:
[code]
It seems that only my public key was imported and it does not even try to prompt for a password, because it can't find the secret key

[2017-11-06 05:28] kentsommer commented on #60
@leto

Do you have any output when you run `gpg2 --list-secret-keys` on your host machine?
[code]

If so, run again with `gpg2 --list-secret-keys --keyid-format LONG` and copy the ID after the slash on the line starting with `sec` and use that in the `gpg_key_id` field in the [`gitian.yml`](https://github.com/MyHush/hush-gitian/blob/master/gitian.yml) file.

The entry in `gpg_key_id` should be of

[2017-11-06 06:40] leto commented on #60
@kentsommer thanks for your help, I finally got my Keybase secret key imported to my host gpg correctly, my provision was all green and happy, and now I am running a plain `./gitian-build.sh` again

[2017-11-06 06:40] kentsommer commented on #60
@leto

Awesome! Let me know if there are anymore issues :+1:

[2017-11-06 07:56] leto commented on #60
@kentsommer please look this over and let me know if it seems OK: https://github.com/MyHush/gitian.sigs/commit/52a1bbe3f7257d4cefa0214a3d430c7b521290bc

Thanks again, this is super awesome stuff 💯

[2017-11-06 07:58] kentsommer commented on #60
@leto

Those hashes match up with mine. Everything else looks good as well!

[2017-11-06 07:58] radix42 commented on #60
W00t, so awesome, your assets match

[2017-11-06 13:56] peoples commented on #60
Can yinz please remove me from this thread? It all sounds impressive, but I have no idea what it means. Yet it's filling up my inbox.

Please and thank you.

dngbarnes

________________________________
From: David Mercer <notifications@github.com>
Sent: Monday, November 6, 2017 1:58 AM
To: MyHush/hush
Cc: peoples; Mention
Subject: Re: [MyHush/hush] Reproducible/Deterministic Builds (#60)

W00t, so

[2017-11-06 14:33] lugeb commented on #60
Lol, from @csharpee peoples of the world comment. Someone will remove you.

[2017-11-06 15:30] madbuda commented on #60
@peoples github notifications are managed by the users, if you are getting notices then you either subscribed or have been mentioned. You would need to unsubscribe

[2017-11-06 17:05] leto commented on #60
@radix42 my vote is that @kentsommer has earned his 500HUSH, his documentation made it very easy to get things setup locally and he was extremely responsive in helping this newb get stuff working

[2017-11-06 17:08] radix42 commented on #60
I agree, your assets all matched.....i was gonna wait for a third set that
matched, but I am too sick to crawl around under my desk and fix my vagrant
box, so @kentsommer what HUSH addy does the bounty go to? email, PM me or
post a taddr here if you'd like!

when i get my vagrant machine up i wanna setup deterministic build for the
Windows version too, as it is cross compiled on linux and just has

[2017-11-06 17:12] radix42 commented on #60
also @leto I have been trying to discord, slack, signal, call or txt you
the last 30+ minutes and you seem offline aside from the above github reply

On Mon, Nov 6, 2017 at 10:08 AM, David Mercer <radix42@gmail.com> wrote:

[2017-11-06 23:52] kentsommer commented on #60
@radix42

I'm happy to wait for a third set if you would like? My address is here, but feel free to hold off sending until you verify a third set. Would prefer you are confident before sending :+1:

hush-addr: t1JjmKWun4jn61JgVSK1fQKifVToqhKsov3

[2017-11-06 23:56] radix42 commented on #60
cool, my vagrant box needs a bit more attention than I thought so its not
up yet (ETOOMUCHCATHAIR in its vents)

On Mon, Nov 6, 2017 at 4:52 PM, Kent Sommer <notifications@github.com>
wrote:

[2017-11-07 05:29] kentsommer commented on #63
@radix42 @csharpee

I have a secure (TLS enabled node) up and running on hush. Guide for setup and various other documentation is needed but... progress. You were on the right track @csharpee!

![hush_tls](https://user-images.githubusercontent.com/4055025/32478414-feca87e4-c3c7-11e7-8bb7-4eccbe75da78.png)

[2017-11-07 07:16] kentsommer commented on #63
@csharpee

Hopefully I haven't stepped on any toes, just trying to get hush pushed forward :+1:

Yes there currently missing:

1. Allowing a user to choose to connect to ONLY TLS nodes.

Notes for you (@csharpee):

1. SSL ca certs are not required until the actual "runtime" of the node so building is not at all tied with them.

2. Looks like you are just missing a few make params and includes:

[2017-11-07 07:19] csharpee commented on #63
No not at all man, I am still learning and am happy to help. You are being more than respectful, I am with you - getting hush pushed forward 👍

[2017-11-07 07:23] kentsommer commented on #63
The secure node system in hush will also require something similar to the secure node tracking in zencash (outline is on page 11 and 12 of [their whitepaper](https://zensystem.io/assets/Zen%20White%20Paper.pdf)).

Not sure what it would look like, but making that system decentralized seems like a good move.

@radix42 Any thoughts on system architecture?

[2017-11-08 00:24] csharpee commented on #63
@kentsommer thanks for the tips man. I got it working. I don't have a CA setup yet though on testting user account.
@radix42 I am leaving this alone until more direction.

[code]

[code]
[code]

[2017-11-08 01:55] matthewjamesr commented on #63
@kentsommer could you join us in our Discord sometime? @radix42 and I would like to group chat you one night.

[2017-11-08 02:05] kentsommer commented on #63
@matthewjamesr

I'm in the KST (Korean Standard) time zone, but if you had a time in mind (evening or morning my time would be best - busy during the day) I am happy to chat for a bit.

[2017-11-08 07:04] aayanl commented on #63
```Not sure what it would look like, but making that system decentralized seems like a good move.``` that's the plan actually once we set up the dao with zen. It can be setup as a layer 2 thing, nodes verify other nodes and check they follow a strict protocol, append it to a list for other nodes to verify and check, the only tricky part is how do we do payments while keeping it anonymous and decen

[2017-11-08 07:05] kentsommer commented on #63
@aayanl Payments as in rewards to those running the secure nodes?

[2017-11-08 07:06] aayanl commented on #63
Yes

On Nov 8, 2017 2:05 AM, "Kent Sommer" <notifications@github.com> wrote:

[2017-11-08 08:48] kentsommer commented on #63
I've confirmed the ability to make TLS connections on the hush testnet:

![hushtls](https://user-images.githubusercontent.com/4055025/32538935-2ed6d4ea-c4ab-11e7-8271-f6ea09a4d71f.png)

I will work on documentation for setup over the next few days in my free time.

[2017-11-11 01:06] matthewjamesr commented on #63
Re: managing TLS nodes

I think we can simply manage this by inserting a new config glad `secureonly=0`, or another sensible flag name.

0: False
1: True

We can maintain a second DNS seed for TLS nodes. Thoughts @radix42 @kentsommer @madbuda ?

[2017-11-11 01:20] kentsommer commented on #63
@matthewjamesr

That sounds reasonable to me if we stick with TLS as the peer-to-peer encryption scheme. However, I'm not super set that TLS is the way to go for this security enhancement. I've been looking at the solution proposed in [BIP 151](https://github.com/bitcoin/bips/blob/master/bip-0151.mediawiki) as well.

[2017-11-11 01:21] matthewjamesr commented on #63
I'll give it a read. I am ok with whatever the group reaches consenses with.

[2017-11-11 01:57] madbuda commented on #63
👍 on [BIP 151](https://github.com/bitcoin/bips/blob/master/bip-0151.mediawiki )

[2017-11-11 02:44] matthewjamesr commented on #63
@kentsommer I concur and am ok with BIP 151.

[2017-11-11 15:00] leto opened #67 "Generating custom OP_RETURN data"
### Describe the issue

The `createrawtransaction` RPC method in Hush does not support a `data` key to embed data into a raw transaction via OP_RETURN.

This makes it hard/impossible to port a tool such as https://github.com/coinspark/python-OP_RETURN to Hush, since there is no RPC access to raw transactions that gives us what we need.

### Can you reliably reproduce the issue?
Yes

#### If so, pl

[2017-11-15 02:05] matthewjamesr commented on #63
After discussion between myself, @radix42, and @kentsommer, we have decided to PR the TLS branch. BIP 151 will be implemented on a future date/time.

[2017-11-15 02:16] aayanl commented on #63
👍 the ca stuff is only unique to zen, glad to see more coins implementing encrypted network stacks 😃

[2017-11-17 21:14] 1n17 commented on #62
Pretend there is no issue, ignore the person trying to help, and just silently correct the problem https://github.com/MyHush/hush/commit/01a2889f6b7b628b23c0ce9b5f949d00b7de6edb#diff-7d442b7eb49f5fc377f51e74b291cfc1... Way to go @madbuda!

[2017-11-17 21:19] 1n17 commented on #62
Oh, by the way, there is still no sudo before apt-key command. But go ahead and pretend this is not a problem :D

[2017-11-17 23:21] madbuda commented on #62
Sorry, you reported an issue and we corrected it. If there are further corrections you'd like feel free to submit a PR with the proposed changes

[2017-11-20 03:19] zawy12 commented on #24
Here's the two algos I'm now recommending to everyone.  [This link](https://github.com/BTCGPU/BTCGPU/issues/78#issuecomment-345543789) explains why N=30 should be used.

[code]
=======================
[code]

[2017-11-27 01:23] LucyDemooon commented on #46
possible to update gcc to version 6 or 7 instead of 5?
have no gcc verison 5 anymore in the repos (Manjaro/Arch Linux)

[2017-11-29 12:16] kentsommer commented on #63
This is closed out by https://github.com/MyHush/hush/pull/68 :neckbeard:

[2017-11-29 12:16] #63 closed

[2017-11-29 12:32] radix42 commented on #60
Bounty happily paid!
https://explorer.myhush.org/tx/0e086a21558875b25db2eb60e39e9754126b4d867426fe9f2063d64458f41678

[2017-11-29 12:32] #60 closed

[2017-11-29 18:54] dawqfoundation commented on #10
not safe for newbies

[2017-12-07 02:43] savskii opened #71 "incorrect size of solution"
In my Hush pool i have tryed to change diff setting from 0.1 upto 128 and still same errors

could anyone tell me where i messed up ?

[Pool]      [hush] (Thread 4) Share rejected: {"job":"cccd","ip":"::ffff:31.24.216.135","worker":"t1aPXQqsm9fFZzhFotsYeJyvve3SNgURCQH.Rig18","difficulty":2.4,"error":"incorrect size of solution"}

[2017-12-09 05:39] ric77barradas commented on #71
Having same issue anyone can help

[2017-12-09 05:42] ric77barradas commented on #71
Hi I am having same issue anyone able to help?

[2017-12-09 05:47] minerric commented on #71
having same issue anyone able to shed some light?

[2017-12-12 15:44] leto commented on #71
@savskii @minerric If you would like to provide a bounty in HUSH I can help you fix this, it sounds like the data in your Stratum procotol JSON is incorrect or formatted in an incompatible way

[2017-12-12 16:30] minerric commented on #71
great sense of community there's a coin i won't support anymore

[2017-12-14 20:57] k2042 commented on #64
Hi. Is the current hush software up to date to deal with this issue? There kinda is some main net explorer already, so the testnet explorer installation should be trivial, shouldn't it?

[2017-12-20 09:42] kentsommer opened #73 "Changes required for upstream 1.0.13 merge"
# Upstream files left to merge for 1.0.13

Docs need to be generated and decision needs to be made about how long to wait before deprecation.

Hush has not had a valid regtest genesis block. So, that should be generated as well otherwise there is no real qa.

- [ ] doc/man/zcash-cli.1
- [ ] doc/man/zcash-tx.1
- [ ] doc/man/zcashd.1
- [ ] doc/release-notes/release-notes-1.0.13-rc1.md
- [ ] doc/rele

[2017-12-24 01:30] matthewjamesr commented on #8
Closing, as migrating to HushList.

[2017-12-24 01:30] #8 closed

[2017-12-24 01:31] matthewjamesr commented on #9
Closing, as migrating to HushList.

[2017-12-24 01:31] #9 closed

[2017-12-26 18:53] matthewjamesr opened #77 "Re-define Hush Release Process"
# Issue
We need to redefine the hush release process and update related documentation accordingly. This re-write is needed due to team changes and to fully sync devs.

# Files needing review

* https://github.com/MyHush/hush/blob/master/CONTRIBUTING.md
* https://github.com/MyHush/hush/blob/master/doc/release-process.md

[2017-12-26 18:58] matthewjamesr opened #78 "Change Hard-coded Nodes"
# Issue
We need to adjust the hard-coded nodes to account for removal of myhush.network.

# Replacement list
* explorer.myhush.org
* hushipv4.matthewreichardt.com

[2017-12-26 21:24] leto commented on #78
explorer.myhush.org is behind CloudFlare and can't be used. We should choose a few TLDs that span different countries to prevent one country being able to mess with us via root DNS servers

[2017-12-26 23:53] acheven commented on #78
Is this why fresh install of hush-1.0.12.msi is not syncing?

[2017-12-27 01:27] matthewjamesr commented on #78
@acheven Yes that is correct. We will be adding the nodes that get outputted from our updated config generator.

https://myhush.github.io/config-generator/

[2017-12-28 06:49] mokio8 commented on #78
@matthewjamesr how about exposing the peersList from config-generator as an api endpoint to make it easier for those of us with external applications (including this repo) to ping instead of duplicating efforts?

[2017-12-28 15:21] matthewjamesr commented on #78
@mokio8 I can do that for third-party for sure. I do not know if we would want that for `hushd` though. Can you please open your recommendation as an issues in that repo? Thanks

[2017-12-28 16:36] matthewjamesr commented on #78
@mokio8 I just added it.

https://raw.githubusercontent.com/MyHush/config-generator/master/peers.json

It should resolve to the following address in time:

https://myhush.github.io/config-generator/peers.json

[2017-12-28 17:47] mokio8 commented on #78
Thank you @matthewjamesr! As for hushd are you concerned at how often that endpoint might get hit and the potential latency in front of it?

[2017-12-28 18:23] matthewjamesr commented on #78
We can do that @mokio8. Let's do `seed.myhush.org` -> `https://myhush.github.io/config-generator/peers.json`

[2018-01-01 11:19] kentsommer commented on #73
Since this has all been merged in I'm closing this out 👍

[2018-01-01 11:19] #73 closed

[2018-01-01 21:52] leto opened #79 "Merge latest bitcore"
### Describe the issue

Merge latest bitcore

###  Bounty

500 Hush

## Details

xxx

[2018-01-03 18:59] madbuda commented on #79
@leto https://github.com/MyHush/hush/tree/v1.0.13-bitcoreTLS
added in TLS for funsies

[2018-01-04 01:58] madbuda commented on #79
Closing, explorers are live with new code

[2018-01-04 01:58] #79 closed

[2018-01-04 01:59] leto commented on #79
I agree with the 1000 Bounty for this, its sets the stage for so many things. I will make sure it gets dispersed to @madbuda

[2018-01-04 02:15] leto opened #80 "Electrum Light Wallet Frontend"
# Issue

We are now in ElectrumX master (when 1.2.1 is released we will be in it), so we can run the *backend* of a light wallet, a huge piece, but we lack the frontend part. This bounty is to implement the frontend Electrum starting from another forks implementation. For example Bitcoin Cash has https://www.electroncash.org/

# Bounty

100HUSH

# Links

https://github.com/kyuupichan/electrumx/com

[2018-01-04 02:17] titanium05 commented on #80
I can take care of this

[2018-01-04 02:19] leto commented on #80
@titanium05 sweet! Consider this your bounty for a while, like comfy pair of underwear. Please post your progress here, especially a link to your code. We don't need book reports, but as long as we know there is progress, that will fend off other bountied devs! You will get the full reward for your work, don't worry about people stealing your code. Feel free to push to Github as often as you want.

[2018-01-04 02:21] madbuda commented on #80
@titanium05 let me know what you need from me, I am standing up the backend tomorrow

[2018-01-04 02:27] matthewjamesr commented on #80
@leto This will be in HushNG.

[2018-01-04 03:46] jl777 commented on #79
sent bounty

[2018-01-04 21:06] madbuda commented on #71
This is a node-stratum issue and not related to hushd. Closing

[2018-01-04 21:06] #71 closed

[2018-01-06 06:53] leto commented on #80
@titanium05 have you made a clone/fork or taken a look at Electron Cash yet?

[2018-01-06 22:37] zawy12 commented on #24
We've developed a new algorithm that's the best of the best and allows integer math on the target.

https://github.com/zawy12/difficulty-algorithms/issues/17

[2018-01-08 01:18] titanium05 commented on #80
@leto yes, I was studying it. starting to work on it now

[2018-01-11 05:46] CryptoXman79 opened #81 "Barterdex issue"
This issue tracker is only for technical issues related to hushd, the Hush node daemon.

General Hush questions and/or support requests and are best directed to the [Hush Forums](https://forum.myhush.org) or [Slack Chat](https://myhush.slack.com).

For reporting security vulnerabilities or for sensitive discussions with our security team, please contact your local nasal demon via ICMP.

### Descri

[2018-01-11 05:47] CryptoXman79 commented on #81
I have the watch only address bug in my swing wallet after sending hushs from barterdex...how can I recovers my funds ?

[2018-01-11 23:33] 1n17 opened #82 "Apt repository is gone"
### Describe the issue
The repository 'https://dl.bintray.com/myhush/hush hush Release' does not exist anymore.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. sudo apt-get update
2. E: Failed to fetch https://dl.bintray.com/myhush/hush/dists/hush/main/binary-amd64/Packages  404  Not Found

### Expected behaviour
The repository should exist

###

[2018-01-12 06:30] jebbgrenham commented on #82
Agreed, it's most definitely missing. All that remains is a windows binary.

[2018-01-12 09:07] 1n17 commented on #82
Hey @madbuda, here is another non-issue for you. Would you please take a look?

[2018-01-12 11:31] madbuda commented on #82
Problem is when my ghithub access was removed it broke the org on bintray. It is all tied together... I am trying to find a new place to host the repo

[2018-01-13 00:29] jebbgrenham commented on #82
So, how do we get the node binaries in the meantime?

[2018-01-14 23:01] leto opened #83 "z_listreceivedbyadddress should optionally decode memo field"
Optional argument should turn on decoding of memo field, from binary hex to a Unicode string, which is vastly more friendly to Hush application developers. This will make HushList implementations much easier to write + maintain as well.

[2018-01-14 23:01] leto commented on #83
radix42 says ZEC may want that, present our changed RPC upstream to see if they want it

[2018-01-15 14:08] fellu commented on #9
Yo. Is this done already? i.e. should I check how HushList work. :)

[2018-01-18 03:36] #46 closed

[2018-01-19 23:46] Xandrah opened #85 "Pool add request:"
Hey guys, would you please add my pool to the hush readme? Thanks https://hush.deltapool.net

[2018-01-19 23:46] #85 closed

[2018-01-21 23:57] leto commented on #80
@titanium05 since you have never posted a link to any code repo in 18 days, you have been unassigned from this task, any work you may have done will not be rewarded.

[2018-01-23 04:15] javierfd81 commented on #82
hi, there is any way to get the binaries for linux in the meanwhile?

[2018-01-26 14:26] appkoders commented on #80
@leto is there anyone working on this? I would like to try if you still need someone to work on this.

[2018-01-27 02:47] csharpee commented on #80
I have been hacking at this bounty for past two days. Much to learn and sync, plus all the different deps and configuration options involved with juggling the various versions of npm and python. For a front-end to be designed and tested, do we need to do all this ? Can we just git clone electrumx-hush, build/install electrumx backend, and begin electron frontend developer focus?

[2018-01-28 09:56] nimbosa commented on #82
i was about to report this, but found #82

all that's left is an old Windows installer: https://dl.bintray.com/myhush/hush/:hush-1.0.12.msi

[2018-01-28 09:59] nimbosa commented on #82
instruction @ MyHush/[INSTALL.md](https://github.com/MyHush/hush/blob/master/INSTALL.md) doesn't work
`Unable to locate package hush`
no deb found @ REPO: **dl.bintray.com/myhush**

can't install on Ubuntu:
[code]

it's either we update the markdown OR reproduce the deb repo

[2018-01-29 00:46] madbuda commented on #82
@nimbosa you are free to submit a PR with an updated install.md until we find a suitable repo to host this. I am working on a PPA, waiting on keys to be populated ATM

[2018-01-29 22:05] charansai27 opened #86 "Web Wallet"
Why I'm unable to open my hush web wallet. I stored my hush coins in web wallet but the link for web wallet doesn't work.

This issue tracker is only for technical issues related to hushd, the Hush node daemon.

General Hush questions and/or support requests and are best directed to the [Hush Forums](https://forum.myhush.org) or [Slack Chat](https://myhush.slack.com).

For reporting security vulne

[2018-01-30 17:55] Scottrock opened #87 "Discord invite has expired"
The discord invite in the github doc has expired

Please can you update the discord invite / make it a perm invite

[2018-02-02 10:20] csharpee commented on #80
Why not Electron <=> Zerorpc <=> Zeromq (Python Server) ?

How does one get a Hush address with electrumx?

So from a topological perspective with electrumx:
An individual has three choices:

1. - To run a light GUI wallet that connects through HTTP or HTTPS
2. - To run a back-end server electrumx & hushd.
3. - To run a back-end server and front-end server.

![norpc](https://user-images.githubuser

[2018-02-03 06:32] csharpee commented on #87
https://discord.gg/Csf9BXC

[2018-02-03 06:32] #87 closed

[2018-02-03 08:00] csharpee commented on #64
Can this be closed? I know we had a testnet explorer up and running with help from @TheTrunk. The link on the website needs updated.  https://twitter.com/TJ_Trunk/status/958820921116119044

[2018-02-03 17:10] nbspencer opened #88 "error: couldn't connect to server EOF reached (code1)"
Hi i actually have an issue with the windows wallet i've got this error : error: couldn't connect to server EOF reached (code1)
How can i fix this issue ?

Thanks

![nvidia share_2018-02-03_18-07-53](https://user-images.githubusercontent.com/18530808/35769580-865d0fc6-090d-11e8-86fb-96cf2c09932a.png)

[2018-02-04 04:51] csharpee commented on #88
If the config generator is not working for you https://myhush.org/config-generator/ , you can go; here, scroll down and input new nodes into your hush.conf file. https://github.com/MyHush/hush

[2018-02-04 09:52] nbspencer commented on #88
It was working before i've already sent/recieve Hush with this wallet. One day it just stop.

[2018-02-04 10:49] devsontech opened #89 "Error loading block database after every restart"
Hi,

My hush daemon throws error when I restart.

any help?

Thanks

[2018-02-07 01:10] csharpee commented on #88
Be sure to check your debug log file when you have any trouble. You can view it on Windows by doing the following: Windows Key + R, then type %APPDATA%. This will open up your roaming app data directory in Windows. Next, open the Hush folder and you should see files. The important ones to take note on are your wallet.dat, hush.conf, and debug text document.

Once you open your debug log after fres

[2018-02-08 19:33] altagir opened #90 "cannot connect anymore to peers"
since 4 days (4 february) I cannot sync anymore to network

I also try to port forward 8888 with no succes. any idea ?

in ~/.hush/debug.log

2018-02-08 19:31:31 socket recv error Connection reset by peer (104)
2018-02-08 19:31:31 connect() to [2001:0:9d38:953c:1ca7:e871:a472:fde9]:8888 failed: Network is unreachable (101)
2018-02-08 19:31:32 socket recv error Connection reset by peer (104)
2018-0

[2018-02-09 17:32] altagir commented on #90
anyone having this issue ? mining HUSH while I can't use them

[2018-02-09 18:42] altagir commented on #90
alternatively how can I download current blocks ?
I fixed ipv6 unreachable yet

2018-02-09 18:40:54 socket recv error Connection reset by peer (104)
2018-02-09 18:40:56 socket recv error Connection reset by peer (104)
2018-02-09 18:41:07 connect() to 163.172.70.26:8888 failed after select(): Connection refused (111)
2018-02-09 18:41:14 connect() to 173.212.196.148:8888 failed after select(): Conne

[2018-02-09 20:36] johnny-burak commented on #90
Hi, I have the same problem and can't find a solution.
The hushd wallet/node can't connect. It is few days.
I was experimenting with some parameters and after i used -salvagewallet, then it connected again.
Because I tried -reindex before it was start syncing again.
Then it synced, but I'm not sure if it was 100% synced.
Now it is synced at block 251139 and again - can't connect to any node.
Tried

[2018-02-09 22:05] altagir commented on #90
about ipv6 adresses, I couldn't even ping address (Network is unreachable) so i install package **miredo**
you will have a new _teredo_ entry in your network interfaces with an ipv6 adress
so now you will also have "Connection refused" using ipv6 (and not Network is unreachable)

telneting on ipv4 adress with 8888 gives connection refused, while testing my external ip adress and husd running funct

[2018-02-10 01:54] altagir commented on #90
reindexing solved my issue
I use hush swing wallet UI to check 100%
@johnny-burak try also -upgradewallet. just using index solved it, but thought it was related

[2018-02-10 17:16] altagir commented on #90
well that just worked for a day... next day same issue, cannot connect to peers..
any DEV feedback here?
or do we have to download from scratch every day ?

[2018-02-11 16:06] mawenpeng commented on #90
I have similar issues although I set "addnode" in hush.conf. Maybe my network issues?

[2018-02-11 18:25] altagir commented on #90
I ruled out network issues. connection is refused by other servers and database seems corrupted
it works for a day after a -reindex... .then refuses all connection the next day

[2018-02-11 18:33] altagir commented on #90
can you guys check in your debug.log if you have such thing:
2018-02-11 18:30:55 ERROR: CheckEquihashSolution(): invalid solution
2018-02-11 18:30:55 ERROR: CheckBlockHeader(): Equihash solution invalid

[2018-02-11 19:09] altagir commented on #90
I also realized that doing :
`hush-cli listreceivedbyaddress 0 true`
shows only one of my adress with 0 coins, while the one used is not shown

HUSH swing wallet is showing the 2 address

it is definitely a database corruption.. 2 clients have different info. or have diffrerent protocol

I guess i am due for my daily 1.8 gb download reindexing and banning swing wallet for now tocheck that

DEV tea

[2018-02-11 19:35] johnny-burak commented on #90
@altagir I've tried your suggestion -upgradewallet. When I run it then it showed me that can't load blocks and I have to use -reindex. :-/
So I run in with -reindex oprtion - again.
Now it is running reindexing but still 0 connections.
Tha wallet is unusable like this. I cannot access my coins :-/
I have backup of wallet.dat and exported private key.
But there is no other wallet I can use :-/

[2018-02-11 19:50] altagir commented on #90
apparently issue with missing address was maybe due to - -salvagewallet or --db-salvage
I could not see again from any client my address containing my coins, even starting from scratch with wallet.dat. no sync was possible starting from scratch
after restoring an old backup, i see my coins again, but wallet.dat was different....
uhmmmmmmm

[2018-02-11 19:57] johnny-burak commented on #90
@altagir export and backup your private key
when you have loaded wallet.dat from your backup (you can see your coins), then run
hush-cli dumpprivkey "hushaddress" (adress with your coins).
That is extra backup if we can find another working wallet program we can get to our coins by importing private key.
If I understand well there is 1 private key to every hush address, so if you have more address

[2018-02-11 22:09] leto commented on #86
Web wallet is back

[2018-02-11 22:09] #86 closed

[2018-02-11 22:13] leto commented on #90
@altagir try
[code]
to help with your syncing problems. The error `LoadExternalBlockFile: Processing out of order child` does sound like you CTRL-C'ed or perhaps filled up a harddrive, it's not a common error, but as you found, a reindex will fix it.

[2018-02-11 22:15] leto commented on #89
Please post the full error and OS details and follow the issue template, which helps us help you 😸

[2018-02-11 22:16] leto commented on #81
We have fixed this watchonly bug in our latest Git code, a new release of the Hush Swing wallet will come soon. We cannot help recover funds that we do not have access to.

[2018-02-11 22:16] #81 closed

[2018-02-11 22:17] leto commented on #88
@nbspencer try
[code]

[2018-02-12 02:06] altagir commented on #90
@leto
- the 2 nodes were present in my hush.conf
- Ctrl-C is normally caught by program, and hush is closed normally
- I just finished reindexing and then use hush-cli stop, wait a bit, restart daemon, and same problem as before. stuck

so in bried,every time I stop the daemon, it will fail again. and i have to reindex next time

[2018-02-12 16:52] altagir commented on #90
started a fresh .hush while importing my private keys
just used hush-swing-ui to start stop server
let it run all night, restarted it and :

[code]

starting to be fed up to reindex twice a day, is there any other client?

[2018-02-12 20:46] johnny-burak commented on #90
Ok, my testing continue.
After your suggestion -upgradewallet and error
`- : Error loading block database.
Please restart with -reindex to recover.`
I run -reindex yesterday.

During reindex process there was 0 connections at the beginning (i think at least 1 hour). Then I have 4 connections and sync go up to 100% - yes.

Then I go to sleep and exit hush with Ctrl+C as if you don't run hushd as da

[2018-02-12 21:46] altagir commented on #90
I was about to write than using just the SWING ui was working after a reindex
worked 3 times exactly (closing, reopening, synching)

but it is not anymore right now, so giving up

[2018-02-12 23:31] fellu commented on #90
Same here. Working after -reindex, but after closing and waiting some time it will find 0 connections and have to resync again to get connections back. After resync it working untill closing.

[2018-02-15 05:34] todw1fd commented on #90
Same experience and very frustrating.  Ctrl-c should cause a graceful shutdown and yet often it does not.  After the reindex, leaving daemon running and opening swing-ui...swing-ui works fine and shows 8 to 10 connections and shows fully sync'd.  Shut down the gui, then shut down (or attempt to )the daemon with ctrl-c (log doesn't show daemon stopped at this point), end up having to close the comm

[2018-02-15 06:49] altagir commented on #90
@todw1fd , you can also use

[2018-02-15 07:33] johnny-burak commented on #90
In my case Cttr+C working exactly the same as hush-cli stop.
In both cases there is graceful shutdown in the debug.log.
In all situations I have to reindex to get any connections.

[2018-02-17 17:12] thirdorderharmonic commented on #90
I have the same issue with closing the windows swing wallet.  Glad to see I'm not alone.  Nodes in .conf are current and work fine if i delete the chainstate and blocks folders or if i use the -reindex command.  Otherwise I can't get to 100% sync unless I leave the wallet open at all times after the reindex.

[2018-02-17 20:38] leto opened #100 "Mine a regtest Genesis Block for testing"
### Describe the issue
No regtest genblock

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. No
2. Regtest
3. GenBlock

### Bounty

100 Hush

### Expected behaviour
Devs should be able to run RPC tests/other in regtest mode.

### Actual behaviour + errors
Doesn't exist, can't run the tests

### The version of Hush you were using:
All

[2018-02-18 15:23] FireMartZ commented on #89
Probably related to https://github.com/MyHush/hush/pull/98 and thus fixed in https://github.com/MyHush/hush/tree/v1.0.13-rc which is expected to be released soon.

[2018-02-18 15:24] FireMartZ commented on #90
For sure caused by https://github.com/MyHush/hush/pull/98 and thus fixed in https://github.com/MyHush/hush/tree/v1.0.13-rc which is expected to be released soon.

[2018-02-18 15:24] FireMartZ commented on #88
Probably related to https://github.com/MyHush/hush/pull/98 and thus fixed in https://github.com/MyHush/hush/tree/v1.0.13-rc which is expected to be released soon.

[2018-02-18 15:26] nbspencer commented on #88
Well it's work now i needed to -reindex on my terminal.

[2018-02-18 15:33] FireMartZ commented on #88
@nbspencer Try to keep it open, else the problem may come back.

[2018-02-18 22:56] zsoltdobo opened #101 "Hush Stuck between online wallet and cryptopia"
Hi Hust team,

I was transferring my hush from the web wallet to Cryptopia exchange.  (last week)

Hush never arrived.

My friends having a same problem as well.

Help please to solve this problem.

Thanks,

Zsolt

[2018-02-19 11:46] cannonballdex commented on #89
Three days to download the blockchain, got to 95 pct and disconnected. restarted and now this error trying to open wallet.
![hush](https://user-images.githubusercontent.com/19384459/36376292-8b4327de-1540-11e8-84a2-813e99a4e03d.png)

[2018-02-19 17:38] altagir commented on #90
testing v1.0.13-rc branch, reindexing right now
do you know when it is going to be merged in master?
also you have wrong labelling in v1.0.13, version is still 1.0.12

[2018-02-19 17:40] FireMartZ commented on #90
There is no need to reindex with 1.0.13, even if 1.0.12 was asking for reindexing.

[2018-02-19 18:09] altagir commented on #90
actually was my Makefile not updated.
I used directly `./zcutil/build-debian-package.sh`

even using the build script, after a make distclean

 /crypto/wallets/hush$ grep 1.0.12 *

[2018-02-19 21:29] leto commented on #90
@FireMartZ @altagir I don't believe we have an updated Debian package for 1.0.13 yet, it may show an incorrect version number or not work at all. Use the source tarball or git repo to get the correct source

[2018-02-19 21:54] FireMartZ commented on #88
If you feel like updating manually to have everything needed here to do so:
https://github.com/MyHush/hush/releases/tag/v1.0.13

Else the new wallet installers will be out soon.

[2018-02-19 21:55] FireMartZ commented on #89
If you feel like updating manually to have everything needed here to do so:
https://github.com/MyHush/hush/releases/tag/v1.0.13

Else the new wallet installers will be out soon.

[2018-02-19 22:40] FireMartZ commented on #90
I just checked out
https://github.com/MyHush/hush/tree/v1.0.13
and ran
`./zcutil/build.sh && ./zcutil/build-debian-package.sh`
and got hush-1.0.13-afad8af-amd64.deb which looks fine and version was set to 1.0.13

Can you try again?

[2018-02-19 23:09] altagir commented on #90
@leto, @FireMartZ  ,  I used the tarball and had correct name `hush-1.0.13-gafad8af54-amd64.deb` with a clean install

previously I was using the git branch 1.0.13.  but even a distclean kept old makefile

[2018-02-20 04:40] altagir commented on #90
Problem seem fixed, many thanks @leto @FireMartZ

[2018-02-20 04:40] #90 closed

[2018-02-22 03:02] FireMartZ commented on #100
I'll have a look at this.

[2018-02-22 21:21] leto opened #103 "Hush ec2 AMI"
# Problem

Not easy to spin up a Hush server on ec2.

### Can you reliably reproduce the issue?

All the time.

#### If so, please list the steps to reproduce below:
1.  No
2. ec2
3. AMI

[2018-02-22 21:24] leto commented on #103
@peletubi is working on this

[2018-02-24 13:26] FireMartZ commented on #101
Cryptopia updated to 1.0.13 and their HUSH wallet is back online.

[2018-02-24 14:11] johnny-burak commented on #90
I just upgraded hush node to v. 1.0.13.
Run it and it connected in few seconds to 7 (TLS: 3) nodes and start syncing.
Thank you very much for fixing the sync issue. Great work. Keep it up :+1:
I believe hush is very good project and I will keep supporting it.

[2018-02-25 17:04] leto commented on #100
Merged https://github.com/MyHush/hush/pull/106, keeping this open until @FireMartZ gets paid his bounty. Awesome work!!!

[2018-02-25 22:18] leto commented on #100
https://explorer.myhush.org/tx/de850091c420dd815a32fb358c0c330ba743e0d4b1411339bf9f816e1b50edca

[2018-02-25 22:18] #100 closed

[2018-02-26 16:03] leto opened #107 "Rename src/zcash-gtest to src/hush-gtest"
Yup

[2018-02-27 19:36] leto opened #108 "Get RPC test suite passing"
Good ideas for debugging here:

https://medium.com/provoost-on-crypto/debugging-bitcoin-core-functional-tests-cc0aa6e7fd3e

[2018-03-08 21:11] leto opened #113 "z_importviewingkey RPC call missing startHeight"
This is here to track upstream bug https://github.com/zcash/zcash/issues/2937

We want this fixed as part of 1.0.14 because it effects the performance of importing a viewing key @rjanetzek . I will work on this, just didn't want to forget before we releases 1.0.14

[2018-03-14 04:57] oneevil opened #116 "RPC problem"
Hush node 1.0.13
While the block is submitted to rpc node stops to respond to any other commands. How is it possible to solve this issue?
BLOCK SUBMIT ERROR: <nil> Post http://127.0.0.1:8822: net/http: timeout awaiting response headers
We don't have this problem on Zcash.
node never responds once a hour + - a few minutes

[2018-03-21 16:25] leto commented on #80
@csharpee Electrum does not support zaddrs, and you probably want to read the ElectrumX docs to see what their API looks like: https://electrumx.readthedocs.io/en/latest/

[2018-03-23 05:52] goodthebest opened #118 "Hush, equihash to yiimp"
@MyHush
Could you please integrate Equihash algo to Yiimp so that we can mine Hush with Yiimp? Perhaps it will be nice if your developers can place a pull request to add equihash into yiiimp
https://github.com/goodthebest/yiimp

[2018-03-23 05:58] leto commented on #116
@oneevil can you tell us more details, like which commands you tried? Also, which OS does this happen? Thanks

[2018-03-23 05:59] oneevil commented on #116
Fixed.
Start node --disablewallet=1

[2018-03-23 05:59] #116 closed

[2018-03-23 06:01] leto opened #119 "Get Unit tests passing"
`make check` should pass

Example of a failing test:
[code]

[2018-03-23 06:35] leto opened #120 "Run ./src/zcash-gtest for CI on each commit"
This part of our test suite passes currently on the dev branch, and it would be nice to run on Jenkins and have it send notifications to Github so we can keep it that way.

[code]

[2018-03-24 04:17] leto commented on #80
I made various commits to our electrum, but haven't updated the chainparams yet: https://github.com/MyHush/electrum

[2018-03-25 04:10] saltyminer opened #122 "ZMQ support for windows"
Is there a specific reason why ZMQ is disabled for windows builds?  I notice in the windows build file [here](https://github.com/MyHush/hush/blob/743ac166c27abed3e04cd075d50f78ff9a2a114a/zcutil/build-win.sh#L15) we are disabling ZMQ and I would like to use the block notify ZMQ for my pool if possible (windows server).

[2018-05-05 10:23] radix42 opened #124 "tag v1.0.14-rc1 cross compilation issues"
This tag does not build on Debian Jessie (haven't tested on Stretch, issues with my VM/VPS provider and my new Stretch box), but DOES build on Ubuntu 16 and 18 LTS....HOWEVER, the builds on 16.x Xenial, which they function, have the nasty mingw pthreads library bug, STILL, that pegs 100% of a core's worth of CPU, even on an idle, fully synced node!

Builds of this branch on Ubuntu 18.x Bionic are

[2018-05-10 18:35] EvilRedHorse opened #126 "reverse a payment sent to No Outputs after mined blocks"
When I say wallet I am talking hushd

### Describe the issue
I mined two blocks (a z-nomp based pool): Block# 305226 & 305446
they were gone a day later, sent to No Outputs on transaction#  e8436cf63cbb6a1805456d692cd122ec245db86ccb2ae70f447bd5731d7f2137
I am trying to get the blocks back in the wallet and cannot find documentation.

### steps
mine block to t-address
keep wallet synced

### Expect

[2018-05-11 15:12] leto commented on #126
@EvilRedHorse "No Outputs" should really say "No public outputs" at

https://explorer.myhush.org/tx/e8436cf63cbb6a1805456d692cd122ec245db86ccb2ae70f447bd5731d7f2137

That means your funds were send to a zaddr.

Can you show us a screenshot of your transaction history? Are you using the SWING wallet? Please include version numbers, if so.

[2018-05-13 08:03] EvilRedHorse commented on #126
Yes, I did eventually see the blocks received but that was after 24h with hushd synced. I am not using a swing wallet, I prefer hush-cli which I can wrap a simple GUI around, this problem could be moved to Z-NOMP git since the hush-coin-mining-payout was a shielded transaction by default causing a synced wallet to have a zero balance for 24h+ until the transaction completed. Thank you very much fo

[2018-05-13 08:03] #126 closed

[2018-05-13 18:48] gofres commented on #88
Hi guys,

I'm having the same issue having not used my hush wallet for quite a while. I've tried the latest wallet and don't quite understand the instructions. Can anyone point me towards a more user friendly guide to solving this issue. And yes, I have spent ages looking but only end up reading stuff thats waaay over my head.

Many thanks

[2018-05-15 05:45] leto opened #130 "./zcutil/build-mac.sh problem"
### Describe the issue
macOS 10.13.4 (17E199)

[code]

### Can you reliably reproduce the issue?
Yes
#### If so, please list the steps to reproduce below:
1. Checkout dev branch (I used b1806a7)
2. ./zcutil/build-mac.sh
3. Observe error

### Expected behaviour

The compile succeeds and I get a working hushd.

### Actual behaviour + errors

More output:
[code]

[code]

@FireMartZ @radix42 any idea

[2018-05-15 06:00] leto commented on #130
Latest komodo `dev` branch does not seem to have this problem, in case that helps

[2018-05-15 11:16] FireMartZ commented on #130
I'm using this https://github.com/FireMartZ/hush-apple/tree/v1.0.14h to compile for Mac.

Edit `hush-apple/zcash/Makefile` to adjust the REPO and VERSION (branch) on lines 6 and 7.

[2018-05-15 16:10] leto commented on #130
@FireMartZ thanks for the heads up!! I am giving that a look.

Since komodo.git has the latest Zcash upstream merged in (up to 1.0.14-ish), it seems that build-mac.sh should work, but perhaps it was broken in the 1.0.15 merge you just did? I am now trying build-mac.sh on 1.0.14-dev branch and it seems to be getting further

[2018-05-15 18:13] FireMartZ commented on #130
I can give it a look, but `./zcutil/build-mac.sh` disadvantage is that the binaries are not portable (they depend on brew), while the "hush-apple" way makes a portable binaries.

[2018-05-15 18:48] leto commented on #130
It turns out that `1.0.14-dev` was actually just a local branch on my machine that didn't actually have 1.0.14 merged in yet, so I am now trying the `dev` branch, which I don't think has had 1.0.15 merged in yet

[2018-05-28 16:41] grubino opened #131 "Apt Repo doesn't have Release file"
### Describe the issue
Following INSTALL.md leads to an error on Ubuntu 18 using

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Follow the steps listed [here](https://github.com/MyHush/hush/blob/master/INSTALL.md#install)

### Expected behaviour
The install of the Debian package should succeed

### Actual behaviour + errors
`apt-get update` issu

[2018-05-28 17:22] grubino commented on #131
Attempted to workaround by making a security exception for the Hush apt repo to no avail...

[2018-09-02 08:12] exile13 commented on #131
encountering same issue

Err:8 https://dl.bintray.com/myhush/hush hush Release
  404  Not Found [IP: 108.168.243.150 443]

[2018-10-05 16:11] leto opened #144 "Create Hush 2.0.0 release"
This will track all the things needed to make our Hush 2.0.0 release, which is happening in the `release` branch. This is evolving and more stuff may be added

* [x] Change configure version to 2.0.0
* [x] Change version number in docs to 2.0.0
* [x] Update man pages via contrib/devtools/gen-manpages.sh, after changing configure version, make sure they say 2.0.0
* [x] Test latest code thoroughly,

[2018-10-05 16:22] leto commented on #144
@radix42 if you are able to test the latest dev branch on any of your servers and/or OS's, that would be much appreciated!!! You can join the notary nodes in being some of the first nodes with DPoW-enabled Hush full nodes 😺

[2018-10-06 16:44] leto commented on #144
Make this PR, I think it's pretty damn close to what 2.0.0 will be: https://github.com/MyHush/hush/pull/145

There could be some weird changes to files that are related to making binaries, but I am mostly worrying about creating a 2.0.0 tarball source code release.

[2018-10-07 11:03] Scottrock commented on #144
Running latest dev branch, syncing chain from scratch.
hushd is writing MB to the debug.log
Daemon crashes regularly - I expect on log oversize

[2018-10-08 07:24] leto opened #147 "Port KMD getsnapshot RPC to Hush"

[2018-10-08 07:37] leto commented on #144
@Scottrock sounds like you may have had a version of `dev` branch that had a coredump, latest dev and v2.0.0-rc branch have it fixed. It's normal to write lots to debug.log when syncing for the first time. Please let me know if you can still reproduce. I have been testing on multiple nodes with txindex=0 and txindex=1

[2018-10-08 16:49] zawy12 commented on #24
I really don't have a LWMA-2 or 3 "ready to go" for BTC/Zcash clones.  There was a Zcash clone working on LWMA-2 but I can't remember which one.   Here's the code for LWMA for Zcash/BTC clones:

https://github.com/zawy12/difficulty-algorithms/issues/3#issuecomment-388386175

[2018-10-08 18:15] zawy12 commented on #24
PS, if you're making a POW where difficulty needs to decrease a lot (target needs to increase a lot) then setting a guess for target that is in the correct range for N blocks is a good idea if getting the chain stuck is a possibility.  The guess would be in the DA and of the form
[code]
Also, I think it would be neat to rescale the difficulty so that it is 1/1000 of the hashrate so that everyone c

[2018-10-09 04:55] Scottrock commented on #144
Last dev branch I built synced fine - but I am one commit behind.
I should have time to build and start a new chain sync before leaving for work.

[2018-10-09 17:05] leto opened #149 "disablewallet=1 not compatible with dpow + txindex=0"
Reported by 2miners pool.

txindex=0 now requires watchonly addresses to be use and is most likely incompatible with disablewallet=1 now.

Workaround is to use txindex=1 if you want to use disablewallet=1, still investigating.

[2018-10-09 23:46] FireMartZ opened #150 "CLIENT_VERSION_* should come from _CLIENT_VERSION_*"
clientversion.h has a copy of version defines and when bumping version in configure.ac, those in the header file may be forgotten.

https://github.com/MyHush/hush/blob/master/src/clientversion.h#L18

[2018-10-29 00:04] leto commented on #144
donezo

[2018-10-29 00:04] #144 closed

[2018-11-12 23:34] leto commented on #147
donezo

[2018-11-12 23:34] #147 closed

[2018-11-12 23:40] leto opened #155 "Release Hush 2.0.1"
* [ ] Change configure version to 2.0.1
* [ ] Change version number in docs to 2.0.1
* [ ] Make sure CLIENT_NAME/etc thing that FiremartZ found says 2.0.1 too
* [ ] Update man pages via contrib/devtools/gen-manpages.sh, after changing configure version, make sure they say 2.0.1
* [ ] Update consensus rules to no longer talk to old nodes which do not have DPoW enabled at a prescribed block height
*

[2018-11-15 19:06] leto opened #156 "Binary releases should include hush-tx for completeness"
I noticed that Hush 2.0.0 mac binary release does not contain hush-tx. It's not a huge bug, most users will never use it. But for completeness, hush-cli, hushd *and* hush-tx should be in our binary releases.

I don't think it's super important to regenerate all 2.0.0 binary releases, let's just make sure to do this next release @FireMartZ

[2018-11-16 04:54] me2space opened #157 "Release package not working in Ubuntu 18.04"
### Describe the issue
The following error occurs when trying to install via release package hush-2.0.0-c7d6ba61-amd64.deb

~$ sudo dpkg -i hush-2.0.0-c7d6ba61-amd64.deb
Selecting previously unselected package hush.
(Reading database ... 102281 files and directories currently installed.)
Preparing to unpack hush-2.0.0-c7d6ba61-amd64.deb ...
Unpacking hush (2.0.0+c7d6ba61) ...
dpkg: dependency prob

[2018-12-04 02:21] leto opened #159 "Compile problem with gcc-8"
[code]
This sounds like something fixed in BTC or ZEC master but we didn't get it.

[2018-12-12 15:16] leto opened #160 "nWitnessCacheSize assertion"
Reported by 2 notary nodes:

[code]

[2018-12-18 17:01] egyptianbman opened #161 "EXCEPTION: St13runtime_error"
### Describe the issue

Random exception

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Compile latest code on Linux
2. Run node
3. Logs report exception

### Expected behaviour
No exceptions

### Actual behaviour + errors
I occasionally see the following:
[code]

### The version of Hush you were using:
Run `hushd --version` to find out

### Mac

[2019-02-05 21:14] zebambam opened #162 "CVE-2019-7167"
Hey. I think you should look at this to see if you're vulnerable. I've raised a ticket with github to let you know through their notification system. The CVE details were submitted this morning but haven't been changed at the mitre end yet.

Title

BCTV14 setup produces elements that violate soundness leading to Counterfeiting Vulnerability in Zcash and others

Description

The construction descri

[2019-02-17 12:30] leto commented on #161
GIN recently enabled dpow and is seeing the same issues.

`Seems to be triggered when invalid blocks are received from outdated peers`

[2019-02-17 12:43] leto commented on #162
@zebambam yes, we are in fact vulnerable. More details are here: http://myhush.org/sapling/

Thank you for the detailed Github issue

[2019-02-17 17:12] egyptianbman commented on #161
Ah, in that case it's more of a warning than an error/exception.

[2019-02-17 17:29] leto commented on #161
This warning happened when old non-updated Hush nodes try to talk to new dpow-enabled Hush nodes, and there was a printf() with an extra %d when logging this fact. It was not security-critical, but good to fix

[2019-02-17 17:29] #161 closed

[2019-03-04 22:23] me2space commented on #157
I believe this is the correct url...
https://bootstrap.0x03.services/hush-binaries/hush-2.0.0-c7d6ba61-amd64.deb

[2019-03-09 19:13] leto opened #164 "getsnapshot returns addresses with amount=0 utxos"
Data like this should not be in the output of `getsnapshot`, which come from amount=0 UTXOs:

[code]

[2019-03-09 19:37] leto commented on #164
This is fixed in `dev`

[2019-03-09 19:37] #164 closed, assigned to nobody

[2019-06-09 02:01] #130 closed

[2019-06-09 02:02] #107 closed

[2020-08-11 04:46] magick93 opened #165 "Peers"
Hello

Where can I find a list of peers to connect to?

Thanks